[submodule ".registry"]
	path = .registry
	url = https://github.com/famuvie/famuvie.r-universe.dev
	branch = HEAD
[submodule "breedR"]
	path = breedR
	url = https://github.com/famuvie/breedR
[submodule "geoRcb"]
	path = geoRcb
	url = https://github.com/famuvie/geoRcb
